.footer {
  @extend .container;
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 4rem;
  color: $lightColor;
  font-size: $fontMedium;

  small {
    display: block;

    a {
      color: $lightColor;
      font-weight: bold;
      border-bottom: 1px dotted transparent;
      transition: $transition;

      &:hover {
        border-bottom: 1px dotted $lightColor;
      }
    }

    &:last-child {
      margin-top: 1rem;
      color: $lightColorAlt;
      font-size: $fontBase + 0.2;
    }
  }
}
