@font-face {
  font-family: 'Quicksand';
  font-display: swap;
  src: url('../assets/fonts/Quicksand-Regular.woff2') format('woff2'),
    url('../assets/fonts/Quicksand-Regular.woff') format('woff'),
    url('../assets/fonts/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-display: swap;
  font-weight: 700;
  src: url('../assets/fonts/Quicksand-Bold.woff2') format('woff2'),
    url('../assets/fonts/Quicksand-Bold.woff') format('woff'),
    url('../assets/fonts/Quicksand-Bold.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: $fontBase;
  background-color: $bgColor;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fade-in {
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
