* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: $fontBase;
  background-color: $bgColor;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loading {
  color: $lightColorAlt;
  font-size: $fontMedium;
  text-align: center;
  font-weight: bold;
}
