.loading {
  text-align: center;
  font-size: $fontMedium;

  svg {
    stroke: $lightColorAlt;
    animation: animate 1.5s linear infinite;
    width: 6rem;
    height: auto;
  }

  small {
    display: block;
    color: $lightColorAlt;
    font-weight: bold;
    margin-top: 0.5rem;
  }
}

@keyframes animate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
