.content {
  @extend .container;

  &__select {
    margin-top: 6rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;

    svg {
      width: 5rem;
      height: auto;
      stroke: $lightColorAlt;
      background-color: $bgColorAlt;
      border-radius: 50%;
      padding: 0.2rem;
    }

    select {
      font-size: 1.6rem;
      border-radius: $borderRadius;
      padding: 1rem;
      outline: none;
      width: 100%;
      margin-left: 1rem;
      border: 0.3rem solid $bgColor;
      background-color: $bgColorAlt;
      color: $lightColor;
      transition: $transition;

      &:focus {
        border: 0.3rem solid $lightColorAlt;
      }
    }
  }

  &__cards {
    &-stat {
      font-size: $fontMedium;
      margin-top: 1rem;
      margin-bottom: 6rem;
      border-left: 0.3rem solid $lightColorAlt;
      padding-left: 2rem;

      h2 {
        color: $lightColorAlt;
        margin-bottom: 0.8rem;
      }

      p {
        color: $lightColor;
      }
    }

    &-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 4rem;

      .card {
        border-radius: $borderRadius;
        overflow: hidden;
        transition: $transition;
        border: 0.3rem solid $bgColor;
        background-color: $bgColorAlt;

        &:hover {
          border: 0.3rem solid $lightColorAlt;
        }

        &__image {
          width: 100%;
          height: auto;
        }

        &__info {
          height: 16.5rem;
          padding: 1.8rem;
          font-size: $fontMedium;

          h3 {
            margin: 0.8rem 0 1.5rem 0;
            color: $lightColorAlt;
          }

          p {
            color: $lightColor;
          }
        }
      }
    }
  }
}

@media (min-width: $bpSmall) {
  .content__cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .content__select {
    justify-content: end;

    svg {
      width: 4rem;
    }

    select {
      width: 25rem;
    }
  }
}

@media (min-width: $bpLarge) {
  .content__cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
