// colors
$bgColor: #021b24;
$bgColorAlt: #194548;
$lightColor: #f8fafc;
$lightColorAlt: #a4e28c;
$errorColor: #991b1b;

// fonts
$fontBase: 1rem;
$fontMedium: $fontBase + 0.8;
$fontLarge: $fontBase + 4;

// utils
$transition: all 0.3s;
$borderRadius: 1rem;

// breakpoints
$bpSmall: 640px;
$bpMedium: 768px;
$bpLarge: 1024px;
